header {
    nav {
        display: flex;
        max-width: 1200px;
        margin: auto;
        justify-content: space-between;
        align-items: center;

        img {
            max-height: 40px;
        }

        ul {
            display: flex;
            list-style: none;

            li {
                display: flex;

                a {
                    padding: 1.5rem 2rem;
                    text-decoration: none;
                    color: #1E1E1E;
                    font-family: "Montserrat", serif;
                    font-weight: 600;
                }

                a:hover {
                    color: #16213D;
                }
            }
        }
    }
}