main {
    .image-container {
        position: relative;
        width: 100%;
    }

    .background {
        width: 100%;
        object-fit: cover;
        height: 700px;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        right: -3.125rem;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1200px;
        text-align: center;

        h1 {
            color: #FFFFFF;
            font-weight: bold;
            font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
            font-size: 3rem;
        }
    }

    .section-societe {
        display: flex;
        max-width: 1200px;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 6rem;

        img {
            width: 50%;
            height: 700px;
            object-fit: cover;
        }

        article {
            width: 50%;
            margin-right: 2rem;

            h2 {
                font-size: 2rem;
                font-weight: bold;
                font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
                color: #16213D;
                text-transform: uppercase;
            }

            p {
                margin-top: 2rem;

                a {
                    display: block;             
                    width: fit-content;
                    text-decoration: none;
                    color: #FFFFFF;
                    font-weight: 600;
                    background-color: #DD4546;
                    padding: 0.5rem 1.5rem;
                    border-radius: 1rem;
                }
            }

            p:nth-of-type(3) {
                color: #16213D;
                font-size: 1.25rem;
                font-weight: bold;
            }

        }
    }

    .section-expertise {
        max-width: 1200px;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 6rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
            color: #16213D;
            text-transform: uppercase;
        }

        p {
            margin-top: 2rem;
        }
    }

    .ingenierie {
        display: flex;
        background-color: #2E4480;

        img {
            max-height: 400px;
            object-fit: cover;
            width: 50%;
        }

        article {
            color: #FFFFFF;
            width: 50%;
            margin: auto;
            margin-right: 4rem;
            margin-left: 4rem;

            h3 {
                font-size: 1.25rem;
                font-weight: bold;
                text-transform: uppercase;
                font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
                margin-bottom: 2rem;
            }

            p {
                font-weight: 600;
                margin-bottom: 2rem;
            }

            h4 {
                text-decoration: underline;
                font-weight: bold;
                text-transform: uppercase;
                font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
                margin-bottom: 2rem;
            }

            li {
                font-weight: 600;
            }
        }
    }

    .historique-projets {
        max-width: 1200px;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 6rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
            color: #16213D;
            text-transform: uppercase;
        }

        .jump {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .projets {
            display: flex;
            justify-content: space-between;
        }

        section {
            width: 325px;
            background-color: #2E4480;
            color: #FFFFFF;
            border-radius: 10px;
            padding: 1.5rem 1rem;
            text-align: center;

            h3 {
                font-size: 1.25rem;
                font-weight: bold;
                font-family: 'Arial Rounded MT Bold', Arial, sans-serif;

                .uppercase {
                    text-transform: uppercase;
                }
            }

            h3:after {
                content: "";
                display: block;
                width: 70%;
                height: 1px;
                background-color: #DD4546;
                margin: 0 auto;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            a {
                display: block;             
                width: fit-content;
                margin-right: auto;
                margin-left: auto;
                background-color: #DD4546;
                color: #FFFFFF;
                font-weight: 600;
                padding: 0.5rem 1.5rem;
                border-radius: 1rem;
                text-decoration: none;
            }
        }

        section:first-of-type {
            p:first-of-type {
                margin-bottom: 2rem;
            }
        }

        section:nth-of-type(2) {
            h3 {
                margin-top: 1.25rem;
            }

            p:first-of-type {
                margin-bottom: 2.875rem;
            }
        }

        section:last-of-type {
            p:first-of-type {
                margin-bottom: 2rem;
            }

        }
    }

    .section-contact {
        max-width: 1200px;
        margin: auto;
        margin-top: 6rem;
        margin-bottom: 6rem;

        h2 {
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
            color: #16213D;
            text-transform: uppercase;
        }

        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .formulaire {
            display: flex;
            justify-content: space-around;

            .form-section-1 {
                width: 50%;
                margin-right: 2rem;

                input {
                    margin-bottom: 1rem;
                    width: 100%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    border-radius: 5px;
                    border: solid 1px #6F768A;
                }

                select {
                    width: 100%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    margin-bottom: 2rem;
                    border-radius: 5px;
                    border: solid 1px #6F768A;
                }
            }

            .form-section-2 {
                width: 50%;

                textarea {
                    width: 100%;
                    padding-bottom: 13.4375rem;
                    border-radius: 0.3125rem;
                    border: solid 1px #6F768A;
                }
            }
        }

        a {
            color: #DD4546;
            text-decoration: none;
        }

        .send {
            background-color: #16213D;
            width: 100%;
            color: #FFFFFF;
            font-weight: 600;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 0.625rem;
            border: none;
            border-radius: 0.3125rem;
        }
    }
}